{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Tous les abonnes de {{ user }}
{% endblock title %}


{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {{ form.follower|as_crispy_field }}
    <button type="submit" class="btn btn-success">Envoyer</button>
</form>
<hr>
<h1>Mes abonnements</h1>
<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Se Desabonner</th>
            </tr>
        </thead>
        <tbody>
            {% for follow in follow_user %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ follow.followed_user }}</td>
                <td><a class="btn btn-danger stretched-link" href="{% url 'follow_delete' follow.id %}"
                        role="button">Desabonner</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<h1>Les abonnes a mes posts</h1>

<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for follower in followed_by %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ follower.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}