{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center;">Creer une critique</h1>
<div style="padding: 50px;border-style: solid;width: 70%;margin: auto;word-wrap:break-word;">
    <p>Vous etes entrain de poster en reponse a:</p>
    <div style="border-style: dotted;width: 500px;margin: auto;word-wrap:break-word;">
        <h2>{{ ticket.title }}</h2>
        <p>{{ticket.user}} | {{ ticket.time_created }}</p>
        <p>{{ ticket.description }}</p>
        <img src="{{ ticket.image.url }}" alt="no image" width="90" height="144">
    </div>
    <hr>
    <p>Critique</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>
</div>
{% endblock content %}