{% extends 'base.html' %}

{% load humanize %}

{% block title %}
Tickets
{% endblock title %}

{% block content %}
<div class="row justify-content-md-center mb-4">
    <a class="btn btn-outline-primary mr-3 col-sm-3" href="{% url 'ticket_new' %}" role="button">Demander une
        critique</a>
    <a class="btn btn-outline-primary col-sm-3" href="{% url 'ticket_review_new' %}" role="button">Creer une
        critique</a>
</div>

{% for ticket in object_list %}
{% if ticket.title %}
<!-- Ticket card -->
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="card w-75">
            <div class="card-header">
                <small>Posted by <a href="#">{{ticket.user}}</a> {{ ticket.time_created|naturaltime }}</small>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-2">
                    <img src="{{ ticket.image.url }}" class="img-fluid" alt="...">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ticket.title}}</h5>
                        <p class="card-text">{{ticket.description}}</p>

                    </div>
                </div>
            </div>
            {% if  ticket.comments.all %}
            {% if ticket.comments.all|length_is:"1" %}
            {% for comment in ticket.comments.all %}
            {% ifnotequal  comment.user.username user.username %}
            {% ifequal comment.user.username ticket.user.username %}
            <div class="card-footer text-muted">
                <form action="{% url 'review_new' ticket.pk %}">
                    <input class="btn btn-primary stretched-link float-right" type="submit"
                        value="Creer une critique" />
                </form>
            </div>
            {% endifequal %}
            {% endifnotequal %}
            {% endfor %}
            {% endif %}
            {% else %}
            <div class="card-footer text-muted">
                <form action="{% url 'review_new' ticket.pk %}">
                    <input class="btn btn-primary stretched-link float-right" type="submit"
                        value="Creer une critique" />
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col">
        </div>
    </div>
</div>
<!-- End ticket card -->
<hr>
{% else %}
<!-- Review card -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="card w-75">
            <div class="card-header">
                <small><a href="#">{{ ticket.user }}</a> a publie une critique
                    {{ ticket.time_created|naturaltime }}</small>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ ticket.headline }}</h5>
                <p class="card-text">{{ ticket.body|linebreaks }}</p>
                <div class="row">
                    <div class="col"></div>
                    <div class="card" style="max-width: 500px;">
                        <div class="card-header">
                            <small>Ticket - <a href="#">{{ticket.ticket.user}}</a>
                                {{ ticket.time_created|naturaltime }}</small>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="{{ ticket.ticket.image.url }}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticket.ticket.title}}</h5>
                                    <p class="card-text">{{ ticket.ticket.description }}</p>
                                </div>
                            </div>
                        </div>
                        {% if ticket.ticket.comments.all|length_is:"1" %}
                        {% for comment in ticket.ticket.comments.all %}
                        {% ifnotequal  comment.user.username user.username %}
                        {% ifequal comment.user.username ticket.ticket.user.username %}
                        <div class="card-footer text-muted">
                            <form action="{% url 'review_new' ticket.pk %}">
                                <input class="btn btn-primary stretched-link float-right" type="submit"
                                    value="Creer une critique" />
                            </form>
                        </div>
                        {% endifequal %}
                        {% endifnotequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- End Review card -->
<hr>
{% endif %}
{% endfor %}

{% endblock content %}