{% extends 'base.html' %}


{% block title %}
Tickets
{% endblock title %}

{% block content %}
<form action="{% url 'ticket_new' %}" style="text-align: center; float: left;">
    <input type="submit" value="Demander une critique" />
</form>
<form action="{% url 'ticket_review_new' %}">
    <input type="submit" value="Creer une critique" />
</form>
{% for ticket in object_list %}
<div>

    <h2>
        <p>Ticket {{ forloop.counter }} - {{ticket.user}}
    </h2>
    <h2>
        <a href="{% url 'ticket_detail' ticket.pk %}">{{ticket.title}}</a>
    </h2>
    </p>
    <div>
        {{ticket.time_created}}
    </div>
    <p>{{ticket.description}}</p>
    <img src="{{ ticket.image.url }}" alt="no image" width="90" height="144">

    <div>
        <a href="{% url 'ticket_edit' ticket.pk %}">Edit</a> |
        <a href="{% url 'ticket_delete' ticket.pk %}">Delete</a>|
        <a href="{% url 'review_new' ticket.pk %}">Creer une critique</a>
    </div>
    <div>
        {% with ticket.comments.count as total_comments %}
        <h2>
            {{ total_comments }} critique{{ total_comments|pluralize }}
        </h2>
        {% endwith %}
        {% for comment in ticket.comments.all %}
        <div style="background-color: darkgray;">

            <p style="color:red">
                Critique {{ forloop.counter }} by {{ comment.user }}
                {{ comment.time_created }}
            </p>
            <p>rating: {{ comment.rating }}</p>
            <p>{{ comment.headline }}</p>
            <p><strong>{{ comment.body|linebreaks }}</strong></p>
            <div>
                <a href="{% url 'review_edit' comment.pk %}">Edit</a> |
                <a href="{% url 'review_delete' comment.pk %}">Delete</a>|
            </div>

        </div>
        {% empty %}
        <p>Il n'y a aucune critiques.</p>
        {% endfor %}
    </div>
</div>
<hr>
{% endfor %}
{% endblock content %}