{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Modifier votre ticket</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div>
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="no image" width="90" height="144">
        {% endif %}
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Envoyer</button>
    <a class="btn btn-danger" href="{% url 'ticket_current_user_list' %}" role="button">Annuler</a>
</form>
{% endblock content %}