{% extends 'base.html' %}

{% load humanize %}

{% block title %}
Tous les tickets de {{ user }}
{% endblock title %}

{% block content %}
<h1 style="text-align: center;">Vos posts</h1>
<hr>
{% for ticket in object_list %}

{% if ticket.title %}
<!-- Ticket card -->
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="card w-75">
            <div class="card-header">
                <small>Vous avez demande une critique {{ ticket.time_created|naturaltime }}</small>
            </div>
            <div class="row no-gutters">
                {% if ticket.image %}

                <div class="col-sm-2">
                    <img src="{{ ticket.image.url }}" class="img-fluid" alt="...">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ticket.title}}</h5>
                        <p class="card-text">{{ticket.description}}</p>
                    </div>
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">{{ticket.title}}</h5>
                    <p class="card-text">{{ticket.description}}</p>
                </div>
                {% endif %}

            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-danger stretched-link float-right col-sm-2" href="{% url 'ticket_delete' ticket.pk %}"
                    role="button">Supprimer</a>
                <a class="btn btn-success stretched-link float-right col-sm-2 mr-3 "
                    href="{% url 'ticket_edit' ticket.pk %}" role="button">Modifier</a>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<!-- End ticket card -->

<hr>
{% else %}
<!-- Review card -->
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="card w-75">
            <div class="card-header">
                <small>Vous avez publie une critique
                    {{ ticket.time_created|naturaltime }}</small>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ ticket.headline }}</h5>
                {% with ''|center:ticket.rating as range %}
                {% for _ in range %}
                <i class="fas fa-star"></i>
                {% endfor %}
                {% endwith %}

                <p class="card-text">{{ ticket.body|linebreaks }}</p>
                <div class="row">
                    <div class="col"></div>
                    <div class="card" style="max-width: 500px;">
                        <div class="card-header">
                            <small>Ticket - <a href="#">{{ticket.ticket.user}}</a>
                                {{ ticket.time_created|naturaltime }}</small>
                        </div>
                        <div class="row no-gutters">
                            {% if ticket.ticket.image %}
                            <div class="col-sm-5">
                                <img src="{{ ticket.ticket.image.url }}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title">{{ticket.ticket.title}}</h5>
                                    <p class="card-text">{{ ticket.ticket.description }}</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="card-body">
                                <h5 class="card-title">{{ticket.ticket.title}}</h5>
                                <p class="card-text">{{ ticket.ticket.description }}</p>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-danger stretched-link float-right col-sm-2" href="{% url 'review_delete' ticket.pk %}"
                    role="button">Supprimer</a>
                <a class="btn btn-success stretched-link float-right col-sm-2 mr-3 "
                    href="{% url 'review_edit' ticket.pk %}" role="button">Modifier</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<hr>
{% endif %}

{% endfor %}


{% endblock content %}