{% extends 'base.html' %}


{% block title %}
Tickets
{% endblock title %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-sm-3">
        <a class="btn btn-secondary btn-lg btn-block" href="{% url 'ticket_new' %}" role="button">Demander une
            critique</a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-secondary btn-lg btn-block" href="{% url 'ticket_review_new' %}" role="button">Creer une
            critique</a>
    </div>
</div>

{% for ticket in object_list %}
{% if ticket.title %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6 border border-dark">
            <!-- <span class=""></span> -->

            <h3><a href="#">{{ticket.title}}</a></h3>
            <p><small>Posted by <a href="#">{{ticket.user}}</a> {{ ticket.time_created }}</small></p>
            <p>{{ticket.description}}</p>
            <p><a href="#">Read More</a></p>
            <img src="{{ ticket.image.url }}" alt="no image" width="90" height="144">
            <img src="{{ ticket.image.url }}" class="img-thumbnail" alt="Image Thumbnail">

            {% if  ticket.comments.all %}
            {% if ticket.comments.all|length_is:"1" %}
            {% for comment in ticket.comments.all %}
            {% ifnotequal  comment.user.username user.username %}
            {% ifequal comment.user.username ticket.user.username %}
            <div style=" text-align: right;margin-right: 20px;margin-bottom: 20px;">
                <form action="{% url 'review_new' ticket.pk %}">
                    <input style="width: 10em;  height: 3em;" type="submit" value="Creer une critique" />
                </form>
            </div>
            {% endifequal %}
            {% endifnotequal %}
            {% endfor %}
            {% endif %}
            {% else %}
            <div style=" text-align: right;margin-right: 20px;margin-bottom: 20px;">
                <form action="{% url 'review_new' ticket.pk %}">
                    <input style="width: 10em;  height: 3em;" type="submit" value="Creer une critique" />
                </form>
                <a class="btn btn-primary btn-lg btn-block" href="{% url 'review_new' ticket.pk %}" role="button">Creer
                    une
                    critique</a>
            </div>
            {% endif %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

<hr>
{% else %}
<div style="border-style: solid;width: 50%;margin: auto;word-wrap:break-word;">
    <div>
        <!-- Critique {{ forloop.counter }} by {{ ticket.user }} -->
        <div>{{ ticket.user }} a publie une critique</div>
        <div style="font-size: 10px; text-align: right;vertical-align: text-top;">{{ ticket.time_created }}</div>
    </div>
    <p style="font-size: 20px;">{{ ticket.headline }} - rating: {{ ticket.rating }}</p>
    <p></p>
    <p>{{ ticket.body|linebreaks }}</p>
    <div style="border-style: solid;width: 90%;margin: auto;word-wrap:break-word;">
        <div>Ticket - {{ticket.ticket.user}}</div>
        <br>
        <div>{{ticket.ticket.title}}</div>
        <p>{{ ticket.ticket.description }}</p>
        <img src="{{ ticket.ticket.image.url }}" alt="no image" width="90" height="144">
        <div>
            <!-- <a href="{% url 'review_edit' ticket.pk %}">Edit</a> | -->
            <!-- <a href="{% url 'review_delete' ticket.pk %}">Delete</a>| -->
        </div>

        {% if ticket.ticket.comments.all|length_is:"1" %}
        {% for comment in ticket.ticket.comments.all %}
        {% ifnotequal  comment.user.username user.username %}
        {% ifequal comment.user.username ticket.ticket.user.username %}
        <div style=" text-align: right;margin-right: 20px;margin-bottom: 20px;">
            <form action="{% url 'review_new' ticket.pk %}">
                <input style="width: 10em;  height: 3em;" type="submit" value="Creer une critique" />
            </form>
        </div>
        {% endifequal %}
        {% endifnotequal %}


        {% endfor %}
        {% endif %}
    </div>
</div>
<hr>
{% endif %}
{% endfor %}


{% endblock content %}